# Игнорировать конкретный HTML файл
hamb.html

# Игнорировать папку train и всё её содержимое
train/
venv/
# Игнорировать все папки __pycache__ в любом месте проекта
**__pycache__**/

# Игнорировать все Python кэш-файлы
*.pyc