<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilates Studio CRM</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/uk.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-block">
        <span class="left-part">Pilates Studio</span>
        <nav>
            <ul>
                <li class="active-page"><a href="index.html">Дошка</a></li>
                <li><a href="coaches.html">Тренери</a></li>
                <li><a href="clients.html">Клієнти</a></li>
                <li><a href="stats.html">Статистика</a></li>
            </ul>
        </nav>
        <div class="menu-btn" aria-label="Відкрити меню">
            <div class="hamburger">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </div>
        <!-- <div class="right-header">
            <span>Вхід</span>
            <span>Реєстрація</span>
        </div> -->
        <div class="dropdown-menu">
            <a href="index.html" class="dropdown-item">Дошка</a>
            <a href="coaches.html" class="dropdown-item">Тренери</a>
            <a href="clients.html" class="dropdown-item">Клієнти</a>
            <a href="stats.html" class="dropdown-item">Статистика</a>
            <!-- <a href="login.html" class="dropdown-item">Вхід</a>
            <a href="register.html" class="dropdown-item">Реєстрація</a> -->
        </div>
    </header>

    <main>
        <div id="calendar"></div>
    </main>

    <footer>
        <!-- Футер можно добавить при необходимости -->
    </footer>
    
    <script src="../js/menu.js"></script>
    <script src="../js/dashboard.js"></script>
</body>
</html>